In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("companies.csv")

In [3]:
print(dataset.shape)
dataset.head()

(196553, 44)

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196553 entries, 0 to 196552
Data columns (total 44 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   196553 non-null  object
 1   Unnamed: 0.1         196553 non-null  int64
 2   entity_type          196553 non-null  object
 3   entity_id            196553 non-null  int64
 4   parent_id            0 non-null       float64
 5   name                 196531 non-null  object
 6   normalized_name      196527 non-null  object
 7   permalink            196553 non-null  object
 8   category_code        123186 non-null  object
 9   status               196553 non-null  object
 10  founded_at           91227 non-null   object
 11  closed_at            2620 non-null    object
 12  domain               126545 non-null  object
 13  homepage_url         126545 non-null  object
 14  twitter_username     80591 non-null   object
 15  logo_url             110110 non-null  object
 16  logo_width           110110 non-null  float64
 17  logo_height          110110 non-null  float64
 18  short_description    7131 non-null    object
 19  description          92048 non-null   object
 20  overview             126971 non-null  object
 21  tag_list             81452 non-null   object
 22  country_code         87990 non-null   object
 23  state_code           50903 non-null   object
 24  city                 83890 non-null   object
 25  region               196553 non-null  object
 26  first_investment_at  2583 non-null    object
 27  last_investment_at   2583 non-null    object
 28  investment_rounds    2591 non-null    float64
 29  invested_companies   2591 non-null    float64
 30  first_funding_at     31507 non-null   object
 31  last_funding_at      31507 non-null   object
 32  funding_rounds       31707 non-null   float64
 33  funding_total_usd    27874 non-null   float64
 34  first_milestone_at   91699 non-null   object
 35  last_milestone_at    91699 non-null   object
 36  milestones           91699 non-null   float64
 37  relationships        129667 non-null  float64
 38  created_by           155533 non-null  object
 39  created_at           196553 non-null  object
 40  updated_at           196553 non-null  object
 41  lat                  83852 non-null   float64
 42  lng                  83852 non-null   float64
 43  ROI                  726 non-null     float64
dtypes: float64(12), int64(2), object(30)
memory usage: 66.0+ MB

In [5]:
dataset['status'].value_counts()

operating    183441
acquired       9394
closed         2584
ipo            1134
Name: status, dtype: int64

In [6]:
dataset.isnull().sum()

id                          0
Unnamed: 0.1                0
entity_type                 0
entity_id                   0
parent_id              196553
name                       22
normalized_name            26
permalink                   0
category_code           73367
status                      0
founded_at             105326
closed_at              193933
domain                  70008
homepage_url            70008
twitter_username       115962
logo_url                86443
logo_width              86443
logo_height             86443
short_description      189422
description            104505
overview                69582
tag_list               115101
country_code           108563
state_code             145650
city                   112663
region                      0
first_investment_at    193970
last_investment_at     193970
investment_rounds      193962
invested_companies     193962
first_funding_at       165046
last_funding_at        165046
funding_rounds         164846
funding_total_usd      168679
first_milestone_at     104854
last_milestone_at      104854
milestones             104854
relationships           66886
created_by              41020
created_at                  0
updated_at                  0
lat                    112701
lng                    112701
ROI                    195827
dtype: int64

DROPPING UNNECESSARY COLUMNS

In [7]:
un_useful_cols = ['id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'parent_id',
                  'domain', 'homepage_url', 'twitter_username', 'logo_url', 'logo_width', 'logo_height',
                  'name','normalized_name', 'short_description', 'description', 'overview', 'tag_list','permalink',
                  #'country_code',
                  'region','city','state_code',  #places
                  'created_by', 'created_at', 'updated_at']

In [8]:
dataset.drop(un_useful_cols, axis=1,inplace=True)

In [9]:
print(dataset.shape)
dataset.head()

(196553, 20)

,category_code,status,founded_at,closed_at,country_code,first_investment_at,last_investment_at,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,ROI
0,web,operating,2005-10-17,NaN,USA,NaN,NaN,NaN,NaN,2005-10-01,2008-05-19,3.0,39750000.0,2010-09-05,2013-09-18,5.0,17.0,47.606209,-122.332071,15.5
1,games_video,acquired,NaN,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,34.021122,-118.396467,NaN
2,games_video,acquired,NaN,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-02-01,2011-09-23,4.0,12.0,37.562992,-122.325525,NaN
3,network_hosting,operating,2008-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,games_video,operating,2008-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
if dataset.duplicated().any():
  print(dataset.duplicated().sum())
dataset.drop_duplicates(inplace=True)

87089

In [11]:
print(dataset.shape)
dataset.head()

(109464, 20)

,category_code,status,founded_at,closed_at,country_code,first_investment_at,last_investment_at,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,ROI
0,web,operating,2005-10-17,NaN,USA,NaN,NaN,NaN,NaN,2005-10-01,2008-05-19,3.0,39750000.0,2010-09-05,2013-09-18,5.0,17.0,47.606209,-122.332071,15.5
1,games_video,acquired,NaN,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,34.021122,-118.396467,NaN
2,games_video,acquired,NaN,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-02-01,2011-09-23,4.0,12.0,37.562992,-122.325525,NaN
3,network_hosting,operating,2008-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,games_video,operating,2008-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DROPPING COLS WITH HIGH MOST NO'OF NULL VALUES

In [12]:
# Calculation % of null values in a column
cols_missing_percent = dataset.isnull().sum()*100/len(dataset)
print("percentage of missing values in each columns:")
cols_missing_percent

percentage of missing values in each columns:

category_code          11.172623
status                  0.000000
founded_at             24.586165
closed_at              97.607433
country_code           22.719798
first_investment_at    97.947270
last_investment_at     97.947270
investment_rounds      97.943616
invested_companies     97.943616
first_funding_at       71.248995
last_funding_at        71.248995
funding_rounds         71.067200
funding_total_usd      74.546883
first_milestone_at     48.740225
last_milestone_at      48.740225
milestones             48.740225
relationships          31.428598
lat                    25.910802
lng                    25.910802
ROI                    99.336768
dtype: float64

In [13]:
cols_with_many_nulls = ['first_investment_at','last_investment_at','investment_rounds','invested_companies', 'ROI']
dataset.drop(cols_with_many_nulls, axis=1,inplace=True)

In [14]:
dataset.isnull().sum()

category_code          12230
status                     0
founded_at             26913
closed_at             106845
country_code           24870
first_funding_at       77992
last_funding_at        77992
funding_rounds         77793
funding_total_usd      81602
first_milestone_at     53353
last_milestone_at      53353
milestones             53353
relationships          34403
lat                    28363
lng                    28363
dtype: int64

DROPPING ROWS TO SOLVE NULL VALS

In [15]:
vars_min_null_set = ['status', 'category_code','country_code', 'founded_at','lat','lng']
dataset.dropna(subset = vars_min_null_set ,inplace=True)

In [16]:
# For founded_at, closed_at, first_funding_at, last_funding_at, first_milestone_at, last_milestone_at

date_cols = ['founded_at', 'closed_at', 'first_funding_at', 'last_funding_at', 'first_milestone_at', 'last_milestone_at']
for i in date_cols:
  dataset[i]=pd.to_datetime(dataset[i], format='%Y-%m-%d').dt.year

dataset

,category_code,status,founded_at,closed_at,country_code,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng
0,web,operating,2005,NaN,USA,2005.0,2008.0,3.0,39750000.0,2010.0,2013.0,5.0,17.0,47.606209,-122.332071
5,advertising,operating,2007,NaN,MAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,30.427755,-9.598107
6,cleantech,operating,2008,NaN,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.307159,73.181219
12,advertising,operating,2008,NaN,USA,NaN,NaN,NaN,NaN,2008.0,2008.0,1.0,2.0,35.686975,-105.937799
13,web,acquired,2007,NaN,USA,2008.0,2008.0,1.0,5000000.0,2008.0,2012.0,3.0,14.0,37.386052,-122.083851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,ecommerce,operating,2007,NaN,USA,NaN,NaN,NaN,NaN,2013.0,2013.0,2.0,5.0,37.774929,-122.419415
196549,public_relations,operating,2007,NaN,USA,2008.0,2008.0,1.0,750000.0,2013.0,2013.0,1.0,14.0,37.338208,-121.886329
196550,consulting,operating,1959,NaN,USA,NaN,NaN,NaN,NaN,2012.0,2013.0,3.0,44.0,38.882334,-77.171091
196551,search,operating,2008,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,34.052234,-118.243685
196552,ecommerce,operating,2007,NaN,USA,2008.0,2008.0,1.0,475000.0,2006.0,2008.0,2.0,1.0,34.035633,-118.515590

In [17]:
dataset['category_code'].unique()

array(['web', 'advertising', 'cleantech', 'games_video', 'mobile',
       'health', 'software', 'analytics', 'network_hosting', 'consulting',
       'finance', 'medical', 'manufacturing', 'enterprise', 'other',
       'ecommerce', 'public_relations', 'hardware', 'education', 'news',
       'government', 'security', 'biotech', 'photo_video', 'search',
       'travel', 'semiconductor', 'social', 'legal', 'transportation',
       'hospitality', 'nonprofit', 'sports', 'fashion', 'messaging',
       'music', 'automotive', 'design', 'real_estate', 'local',
       'nanotech', 'pets'], dtype=object)

In [18]:
#category_encoading
category_others_index = dataset.category_code.value_counts()[15:].index

dataset['category_code'] = dataset['category_code'].replace(to_replace=category_others_index,value='other')
# Let's check if we've more than 20 columns

print('Unique no of category_code : ',dataset['category_code'].nunique())
dataset.category_code.value_counts()

Unique no of category_code :  15

other               13372
software            11104
web                  7499
ecommerce            4763
mobile               3764
advertising          3619
games_video          2758
consulting           2723
enterprise           2696
biotech              2481
public_relations     1529
hardware             1512
network_hosting      1298
education            1123
cleantech             970
Name: category_code, dtype: int64

In [19]:
dataset['country_code'].unique()

array(['USA', 'MAR', 'IND', 'AUS', 'FRA', 'JPN', 'NLD', 'EGY', 'ISR',
       'GBR', 'THA', 'AUT', 'IRL', 'SWE', 'DEU', 'BRA', 'FIN', 'RUS',
       'SGP', 'MEX', 'CHN', 'ESP', 'ISL', 'KOR', 'TUR', 'DNK', 'PAK',
       'CAN', 'POL', 'GRC', 'PRT', 'BLR', 'CSS', 'MKD', 'ARG', 'CHE',
       'UKR', 'ITA', 'NZL', 'CZE', 'VNM', 'NOR', 'HRV', 'BEN', 'CHL',
       'GHA', 'ZAF', 'MYS', 'EST', 'BEL', 'SVK', 'TWN', 'CRI', 'HKG',
       'BGD', 'HUN', 'BOL', 'LBN', 'LUX', 'COL', 'PHL', 'ARE', 'IDN',
       'ROM', 'NGA', 'LKA', 'SWZ', 'VGB', 'MLT', 'SAU', 'KEN', 'BGR',
       'PER', 'LVA', 'CYP', 'LAO', 'NPL', 'MDA', 'CMR', 'UGA', 'TUN',
       'URY', 'MUS', 'VEN', 'OMN', 'ECU', 'KWT', 'JOR', 'LTU', 'ALB',
       'SVN', 'QAT', 'PST', 'REU', 'GTM', 'PCN', 'BHS', 'GEO', 'BWA',
       'GRD', 'GIB', 'PAN', 'MTQ', 'PRI', 'BIH', 'DMA', 'BHR', 'ANT',
       'SYC', 'SLE', 'TTO', 'VCT', 'ARA', 'NAM', 'SLV', 'AFG', 'BLZ',
       'UZB', 'LIE', 'IRN', 'ARM', 'ATG', 'UMI', 'DOM', 'MDV', 'MMR',
       'KAZ', 'BRB', 'JAM', 'GLP', 'IOT', 'MDG', 'VIR', 'AZE', 'TZA',
       'ZWE', 'PRY', 'PRK', 'SMR', 'IRQ', 'BMU', 'NRU', 'ETH', 'BDI',
       'CYM', 'SEN', 'NCL', 'CUB', 'FST', 'NFK', 'AND', 'MCO', 'ZMB',
       'KGZ', 'YEM', 'BRN', 'HTI', 'SUR', 'AGO', 'SYR', 'SOM', 'RWA',
       'CIV', 'SDN'], dtype=object)

In [20]:
country_code_others_index = dataset['country_code'].value_counts()[25:].index
dataset['country_code'] = dataset['country_code'].replace(to_replace=country_code_others_index,value='other')
# Let's check if we've more than 25 columns
print('Unique no of country_code : ',dataset['country_code'].nunique())
dataset.country_code.value_counts()

Unique no of country_code :  26

USA      35811
GBR       4825
other     4113
IND       2898
CAN       2604
DEU       1378
FRA       1207
AUS        967
ESP        870
ISR        734
NLD        641
ITA        469
IRL        465
SWE        454
BRA        450
CHN        429
CHE        372
RUS        336
FIN        318
JPN        299
TUR        294
SGP        293
DNK        267
BEL        259
ARG        255
POL        203
Name: country_code, dtype: int64

In [21]:
def isClosed(row):
    if row['status'] == 'operating' or row['status'] == 'ipo':
        return 0
    else:
        return 1
dataset['is_Closed'] = dataset.apply(lambda rw: isClosed(rw),axis=1)
dataset

,category_code,status,founded_at,closed_at,country_code,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,is_Closed
0,web,operating,2005,NaN,USA,2005.0,2008.0,3.0,39750000.0,2010.0,2013.0,5.0,17.0,47.606209,-122.332071,0
5,advertising,operating,2007,NaN,other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,30.427755,-9.598107,0
6,cleantech,operating,2008,NaN,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.307159,73.181219,0
12,advertising,operating,2008,NaN,USA,NaN,NaN,NaN,NaN,2008.0,2008.0,1.0,2.0,35.686975,-105.937799,0
13,web,acquired,2007,NaN,USA,2008.0,2008.0,1.0,5000000.0,2008.0,2012.0,3.0,14.0,37.386052,-122.083851,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,ecommerce,operating,2007,NaN,USA,NaN,NaN,NaN,NaN,2013.0,2013.0,2.0,5.0,37.774929,-122.419415,0
196549,public_relations,operating,2007,NaN,USA,2008.0,2008.0,1.0,750000.0,2013.0,2013.0,1.0,14.0,37.338208,-121.886329,0
196550,consulting,operating,1959,NaN,USA,NaN,NaN,NaN,NaN,2012.0,2013.0,3.0,44.0,38.882334,-77.171091,0
196551,other,operating,2008,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,34.052234,-118.243685,0
196552,ecommerce,operating,2007,NaN,USA,2008.0,2008.0,1.0,475000.0,2006.0,2008.0,2.0,1.0,34.035633,-118.515590,0

In [22]:
closed_mask = dataset['is_Closed'] == 0

# Update 'closed_at' where 'isClosed' is 1
dataset.loc[closed_mask, 'closed_at'] = 2024
dataset
# dataset.closed_at.dropna()

,category_code,status,founded_at,closed_at,country_code,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,is_Closed
0,web,operating,2005,2024.0,USA,2005.0,2008.0,3.0,39750000.0,2010.0,2013.0,5.0,17.0,47.606209,-122.332071,0
5,advertising,operating,2007,2024.0,other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,30.427755,-9.598107,0
6,cleantech,operating,2008,2024.0,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.307159,73.181219,0
12,advertising,operating,2008,2024.0,USA,NaN,NaN,NaN,NaN,2008.0,2008.0,1.0,2.0,35.686975,-105.937799,0
13,web,acquired,2007,NaN,USA,2008.0,2008.0,1.0,5000000.0,2008.0,2012.0,3.0,14.0,37.386052,-122.083851,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,ecommerce,operating,2007,2024.0,USA,NaN,NaN,NaN,NaN,2013.0,2013.0,2.0,5.0,37.774929,-122.419415,0
196549,public_relations,operating,2007,2024.0,USA,2008.0,2008.0,1.0,750000.0,2013.0,2013.0,1.0,14.0,37.338208,-121.886329,0
196550,consulting,operating,1959,2024.0,USA,NaN,NaN,NaN,NaN,2012.0,2013.0,3.0,44.0,38.882334,-77.171091,0
196551,other,operating,2008,2024.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,34.052234,-118.243685,0
196552,ecommerce,operating,2007,2024.0,USA,2008.0,2008.0,1.0,475000.0,2006.0,2008.0,2.0,1.0,34.035633,-118.515590,0

In [23]:
dataset.dropna(axis=0, subset=['closed_at'], inplace=True)
print(dataset.shape)
dataset.isnull().sum()

(57437, 16)

category_code             0
status                    0
founded_at                0
closed_at                 0
country_code              0
first_funding_at      37136
last_funding_at       37136
funding_rounds        37011
funding_total_usd     39168
first_milestone_at    25734
last_milestone_at     25734
milestones            25734
relationships         13837
lat                       0
lng                       0
is_Closed                 0
dtype: int64

In [24]:
active_days=dataset['closed_at']-dataset['founded_at']
dataset['Active_Days']=active_days

In [25]:
dataset.drop(['closed_at'], axis=1,inplace=True)

In [26]:
# Calculation % of null values in a column
cols_missing_percent = dataset.isnull().sum()*100/len(dataset)
print("percentage of missing values in each columns:")
cols_missing_percent

percentage of missing values in each columns:

category_code          0.000000
status                 0.000000
founded_at             0.000000
country_code           0.000000
first_funding_at      64.655187
last_funding_at       64.655187
funding_rounds        64.437558
funding_total_usd     68.192977
first_milestone_at    44.803872
last_milestone_at     44.803872
milestones            44.803872
relationships         24.090743
lat                    0.000000
lng                    0.000000
is_Closed              0.000000
Active_Days            0.000000
dtype: float64

In [27]:
mean_lis = ['funding_total_usd', 'relationships']

for col in mean_lis:
  dataset[col].fillna(int(dataset[col].mean()),inplace=True)
med_lis = ['funding_rounds', 'first_funding_at', 'last_funding_at']
for col in med_lis:
  dataset[col].fillna(int(dataset[col].median()),inplace=True)
mode_lis = ['first_milestone_at', 'last_milestone_at', 'milestones']
for col in mode_lis:
  dataset[col].fillna(int(dataset[col].mode()),inplace=True)

In [28]:
dataset

,category_code,status,founded_at,country_code,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,is_Closed,Active_Days
0,web,operating,2005,USA,2005.0,2008.0,3.0,39750000.0,2010.0,2013.0,5.0,17.0,47.606209,-122.332071,0,19.0
5,advertising,operating,2007,other,2011.0,2012.0,1.0,15167025.0,2012.0,2013.0,1.0,2.0,30.427755,-9.598107,0,17.0
6,cleantech,operating,2008,IND,2011.0,2012.0,1.0,15167025.0,2012.0,2013.0,1.0,4.0,22.307159,73.181219,0,16.0
12,advertising,operating,2008,USA,2011.0,2012.0,1.0,15167025.0,2008.0,2008.0,1.0,2.0,35.686975,-105.937799,0,16.0
15,games_video,operating,2008,USA,2011.0,2012.0,1.0,15167025.0,2008.0,2008.0,1.0,3.0,33.078655,-116.601964,0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,ecommerce,operating,2007,USA,2011.0,2012.0,1.0,15167025.0,2013.0,2013.0,2.0,5.0,37.774929,-122.419415,0,17.0
196549,public_relations,operating,2007,USA,2008.0,2008.0,1.0,750000.0,2013.0,2013.0,1.0,14.0,37.338208,-121.886329,0,17.0
196550,consulting,operating,1959,USA,2011.0,2012.0,1.0,15167025.0,2012.0,2013.0,3.0,44.0,38.882334,-77.171091,0,65.0
196551,other,operating,2008,USA,2011.0,2012.0,1.0,15167025.0,2012.0,2013.0,1.0,1.0,34.052234,-118.243685,0,16.0
196552,ecommerce,operating,2007,USA,2008.0,2008.0,1.0,475000.0,2006.0,2008.0,2.0,1.0,34.035633,-118.515590,0,17.0

In [29]:
print(dataset.shape)
dataset.isnull().sum()

(57437, 16)

category_code         0
status                0
founded_at            0
country_code          0
first_funding_at      0
last_funding_at       0
funding_rounds        0
funding_total_usd     0
first_milestone_at    0
last_milestone_at     0
milestones            0
relationships         0
lat                   0
lng                   0
is_Closed             0
Active_Days           0
dtype: int64

In [30]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57437 entries, 0 to 196552
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   category_code       57437 non-null  object
 1   status              57437 non-null  object
 2   founded_at          57437 non-null  int64
 3   country_code        57437 non-null  object
 4   first_funding_at    57437 non-null  float64
 5   last_funding_at     57437 non-null  float64
 6   funding_rounds      57437 non-null  float64
 7   funding_total_usd   57437 non-null  float64
 8   first_milestone_at  57437 non-null  float64
 9   last_milestone_at   57437 non-null  float64
 10  milestones          57437 non-null  float64
 11  relationships       57437 non-null  float64
 12  lat                 57437 non-null  float64
 13  lng                 57437 non-null  float64
 14  is_Closed           57437 non-null  int64
 15  Active_Days         57437 non-null  float64
dtypes: float64(11), int64(2), object(3)
memory usage: 7.4+ MB

In [31]:
!pip install geopy

from geopy.geocoders import Nominatim

# Specify a custom user agent
user_agent = "MyGeoApp/1.0"
geolocator = Nominatim(user_agent=user_agent)

# Specify the latitude and longitude
latitude = 52.509669
longitude = 13.376294

# Perform reverse geocoding
location = geolocator.reverse((latitude, longitude), language="en")
print(location.address)

Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)
Potsdamer Platz, Tiergarten, Mitte, Berlin, 10785, Germany

In [32]:
dataset.to_csv('company_preprocessed_data.csv', index=False)